body {
    background: #2192FF;
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0 0 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#txt2 {
    margin-top: 20px;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}